body{
  background-color: #9A9A9A;
}

/* stylization of header 1 */
h1{
  background-color: rgb(180, 180, 180);
  color: #9A9A9A;
  padding: 20px;
}

/* stylization of header 3 */
h3{
  text-decoration: underline;
  color: rgb(180, 180, 180);
}

/* to colour specific parts of text */
.special-word{ 
  color: hsl(0, 0%, 13%);
  font-weight: bold;
} 

/* Table boarders and size */
td, th {
  border: 1px solid black;
}
.table {
  border-collapse: collapse;
  width: 95%;
  border: 1px solid black;
  margin-left: 40px;
}

/* create margin */
.mar{
  margin-left: 40px;
}