body{
  background-color: #B8BE77;
}

/* stylization of header 1 */
h1{
  background-color: rgb(221, 226, 54);
  color: #B8BE77;
  padding: 20px;
}

/* stylization of header 3 */
h3{
  text-decoration: underline;
  color: rgb(221, 226, 54);
}

/* to colour specific parts of text */
.special-word{ 
  color: hsl(240, 55%, 22%);
  font-weight: bold;
} 

/* Table boarders and size */
td, th {
  border: 1px solid black;
}
.table {
  border-collapse: collapse;
  width: 95%;
  border: 1px solid black;
  margin-left: 40px;
}

/* create margin */
.mar{
  margin-left: 40px;
}