body{
  background-color: #B3B276;
}

/* Note to self: https://coolors.co/d88373-191970-f5b700 - color palette */

/* stylization of header 1 */
h1{
  background-color: rgb(218, 217, 44);
  color: #B3B276;
  padding: 20px;
}

/* stylization of header 3 */
h3{
  text-decoration: underline;
  color: rgb(218, 217, 44);
}

/* to colour specific parts of text */
.special-word{ 
  color: hsl(240, 57%, 23%);
  font-weight: bold;
} 

/* Table boarders and size */
td, th {
  border: 1px solid black;
}
.table {
  border-collapse: collapse;
  width: 95%;
  border: 1px solid black;
  margin-left: 40px;
}

/* create margin */
.mar{
  margin-left: 40px;
}body{
  background-color: #d88373;
}