body{
  background-color: #d88373;
  font-family: 'Courier New', monospace;
}

/* Note to self: https://coolors.co/023020-8fbc8f-f5b700 - color pal */

h1{
  background-color: rgb(245, 183, 0);
  color: #d88373;
  padding: 20px;
}

h3{
  text-decoration: underline;
}

div{
  margin-left: 70px;
}

.special-word{ 
  color: darkgreen;
  font-weight: bold;
} 